<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button"
            data-toggle="dropdown">Nothing selected
        <span class="caret pull-right"></span></button>

    <div class="dropdown-menu">
        <div class="toolbox">
            <div class="btn-group btn-group-sm btn-block actions-box" ng-show="treeCtrl.actionsBox">
                <button type="button" class="actions-btn bs-select-all btn btn-default col-xs-6" ng-click="treeCtrl.selectAll(true)">Select All</button>
                <button type="button" class="actions-btn bs-deselect-all btn btn-default col-xs-6" ng-click="treeCtrl.deselectAll($event)">Deselect All</button>
                <br><br>
            </div>
        </div>
    </div>
</div>
