ul {padding: 0 !important;}
ul > li > ul a {padding-left: 10px !important;}
/*2nd*/
ul>li>ul>li a{padding-left: 50px !important;}
/*3rd*/
ul>li>ul>li>ul>li a{padding-left: 80px !important;}
/*4th*/
ul>li>ul>li>ul>li>ul>li a{padding-left: 110px !important;}
/*5th*/
ul>li>ul>li>ul>li>ul>li>ul>li a{padding-left: 140px !important;}


.dropdown-menu, .dropdown-toggle {
    width: 100%;
}


.dropdown-toggle {
    text-align: left;
    box-shadow: none;
    /*border-radius: 0;*/
}

.caret {
    margin-top: 7px;
}

.nested-options {
    padding-left: 0;
}

.nested-options > li > a {
    display: block;
    padding: 6px 30px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    padding-left: 40px;
}


.dropdown-menu > li > a {
    display: block;
    padding: 6px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}


.dropdown-menu .list-group-item {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.scrollable-dropdown {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


.dropdown-menu hr
{
    margin-top: 5px;
    margin-bottom: 5px;
}