<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Angular JS App</title>
        <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">

        <link rel="stylesheet" href="css/angular-select-tree.css">

    </head>
    <body>

        <div class="container" ng-controller="HomeController as homeCtrl">
            <!-- Nested node template -->
            <script type="text/ng-template" id="nodes_renderer.html">
                <div select-tree-handle>
                    <a href="#" class="list-group-item">{{node.name}}</a>
                </div>
                <ul select-tree-nodes="" ng-model="node.students">
                    <li class="list-unstyled" ng-repeat="node in node.students" ng-model="node" select-tree-node ng-include="'nodes_renderer.html'">
                    </li>
                </ul>
            </script>

            <div class="col-md-6 parent">
                <div select-tree multiple="true" actions-box="true">
                    <ul select-tree-nodes="" ng-model="data">
                        <li class="list-unstyled" ng-repeat="node in homeCtrl.datasource" ng-model="node" select-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ul>
                </div>
            </div>

        </div>

        <script src="../lib/jquery/dist/jquery.js"></script>
        <script src="../lib/angularjs/angular.js"></script>
        <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>


        <script src="app.js"></script>
        <script src="js/selectTree.js"></script>
        <script src="js/selectTreeNode.js"></script>
        <script src="js/selectTreeNodes.js"></script>
        <script src="js/TreeController.js"></script>
        <script src="js/TreeNodeController.js"></script>
        <script src="js/TreeService.js"></script>

    </body>
</html>